:root{
    --primary:#ffffff;
    --text:#555;
    --light-text:lightgray;
    --dark-text:lightskyblue;
    --nav-bg:whitesmoke;
    --light:rgba(255, 255, 255, 0.5);
    --shadow:0 4px 15px rgba(0,0,0,0.1);
    --radius:0.8rem;
   --transition:0.3s ease;
   --small:1rem;
   --medium:2rem;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    text-rendering: optimizeLegibility;
    font-family:lato;
    color: var(--text);
}
body{
   min-height:100vh;
    width:100%;
    background-color:var(--primary);
}
header{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0.8rem clamp(1rem,5vw,5rem);
    background-color: var(--nav-bg);
    color:var(--text);
    animation:slideDown 0.9s ease-in-out;
   

}
@keyframes slideDown{
    from{
        opacity:0;
        transform:translateY(-20px);
}

to{
    opacity:1;
    transform:translateY(0);
}
}
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:var(--medium);
}
.nav-links{
    text-decoration: none;
    color:var(--light-text);
    transition:all 0.5s ease;
}
.nav-links:hover{
    color:var(--dark-text);
    transform: translate(10px);
    font-size:larger;
    border-bottom: 1px solid gray;

}
.humbergur{
    display:none;
    background-color:var(--nav-bg);
    border:none;
}
.nav-humbergur{
    display:none;
    position:absolute;
    top:3.2rem;
    right:6rem;
    background-color:rgba(135, 206, 235, 0.8);
    padding:20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    gap:10px;
    
}
.nav-humbergur-links{
    text-decoration: none;
    color:var(--light-texttext);
    color:white;
    
}
.username-log{
    display: flex;
}
.user{
    background-color: rgba(135, 206, 235, 0.1);
    color:var(--dark-text);
    padding:0.5rem 1rem;
    border-radius:0.8rem;
}
.hero{
    max-width: 1024px;
    width:100%;
    margin:2rem auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:2rem;
    gap:clamp(1rem,3vw,3rem);
}
#div1{
    flex:1 1 500px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    gap:1rem;
}
.color{
    color: blue;

}
#div1 p{
    font-size: 13px;
    color: lightgray;
    text-align: justify;
}
#div1 button{
    
    background: rgb(135, 206, 235);
    color:white;
    border: none;
    padding: 0.7rem 1.3rem;
    border-radius:0.8rem;
    cursor: pointer;
    font-size: 0.8rem;
    transition: transform 0.3s;
}
#div1 ion-icon{
    font-size: medium;
}
#div1 button:hover{
    transform: translateY(8px);
}

#div2{
    flex:1 1 500px;
    justify-content: center;
    display: flex;
}
#div2 img{
    width:min(90%,400px);
    height:auto;
    border-radius:5%;
    object-fit: contain;
}
.service-overviw-section{
    width:100%;
    background-color:rgb(135, 206, 235);
    height: fit-content;
    padding:1rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap:var(--small);
}
.our-achievement{
    flex:1 1 300px;
    text-align: center;
}
.details{
    flex:1 1 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:0.5rem;
}
@media (max-width:375px){
html{
    font-size: 12px;
}
header{
    padding: 0.6rem 1.2rem;
   }
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:100%;
    margin:20px 10px;
    padding:20px;
    gap:40px;
}
#div1{
    flex:1;
}
#div2{
    flex:1;
}
.nav{
    display:none;
}
.humbergur{
    display:block;
    margin-left:160px;
}   
}